version: 2
updates:
  # Maintain Cargo dependencies
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "04:00"
      timezone: "America/New_York"
    open-pull-requests-limit: 10
    # Group minor and patch updates to reduce noise
    groups:
      start-dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  # Maintain GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "04:00"
      timezone: "America/New_York"
    open-pull-requests-limit: 10
